name: release
on: workflow_dispatch

jobs:
  playground:
    name: playgrounnd
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache .nuke/temp, ~/.nuget/packages
        uses: actions/cache@v3
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('global.json', 'source/**/*.csproj') }}
      - name: Release
        run: ./build.sh Release
        env:
          GITHUB_CONTEXT: ${{ secrets.GITHUB_TOKEN }}
